* {
    /* outline: white 1px dashed; */
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: rgb(75, 61, 73);
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.active {
    background-color: black;
    backdrop-filter: blur(10px);
}
.btn:hover {
    background-color: transparent;
    backdrop-filter: blur(50px);
}

body {
    height: 300vh;
    width: 100vw;
}

.hero5 {
    height: 100dvh;
    width: 100%;
    background-image: url(../img/stardust.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.card {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20rem;
    width: 30rem;
    padding: 0;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    position: relative;
}

.moonlord {
    position: absolute;
    top: -1rem;
    height: 30rem;
    filter: drop-shadow(0 0 50px black);
}

.card-bg {
    position: absolute;
    top: 0;
    left: 10%;
    height: 35rem;
    width: 25rem;
    background-color: white;
    background-image: linear-gradient(to bottom, lightblue, black);
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 0 20px 30px lightblue;
    z-index: -1;
}

.desc, .content {
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.content {
    height: 100%;
}

.desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    bottom: -10rem;
    width: 40rem;
}

h3 {
    position: absolute;
    top: -27rem;
    background-color: transparent;
    /* backdrop-filter: blur(2px); */
    filter: blur(1px);
    width: 60rem;
    text-align: center;
    text-shadow: 2px 2px lightblue;
    letter-spacing: 30px;
    font-size: 80px;
    z-index: -1;
}

em {
    filter: blur(0.7px);
    font-size: 20px;
    padding: 20px 0 0 20px;
    letter-spacing: 10px;
}







