* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    background-image: url(../img/forest.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    /* NAVBAR STYLING */
nav {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: rgb(75, 61, 73);
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.active {
    background-color: black;
    backdrop-filter: blur(10px);
}
.btn:hover {
    background-color: transparent;
    backdrop-filter: blur(50px);
}
    /* CSS STYLING */
.middle {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
    gap: 1rem;
}

.course {
    font-size: 3rem;
    letter-spacing: 15px;
}

.title {
    font-size: 5rem;
    letter-spacing: 20px;
}

.subtitle {
    font-size: 2rem;
    letter-spacing: 10px;
}

.bottom {
    padding-bottom: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}





